@import 'src/theme/scss/index.scss';

.container {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid transparent;
    border-radius: 4px;

    background: $palettePurple2;
}
