@import 'src/theme/scss/index.scss';

.container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    place-items: center start;

    padding: 4rem 18%;

    & .logo {
        height: 3rem;
    }

    & .title {
        font-size: 2rem;
        color: $paletteWhite;
    }

    & .socialButton {
        cursor: pointer;

        display: grid;
        grid-template-columns: 1fr 2fr;
        place-items: center start;

        width: 100%;
        height: 4rem;

        padding: 0 2rem;

        border-radius: 4px;

        color: $paletteWhite;

        filter: brightness(0.75);

        &.google {
            background: #d82b27;
        }

        &.facebook {
            background: #475993;
        }

        &.discord {
            background: #596fc1;
        }

        &.steam {
            background: #171a21;
        }

        &:hover {
            filter: brightness(1);
        }
    }

    & .rememberMe {
        cursor: pointer;
        place-self: center start;

        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 0.7rem;
        place-items: center center;

        margin: 1rem 0 0 0.5rem;

        & span {
            color: $paletteWhite;
        }
    }
}
