@import 'src/theme/scss/index.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    place-items: center center;
    grid-row-gap: 5rem;

    & p {
        font-size: 2.5rem;
        text-align: center;
    }
}
