@import 'src/theme/scss/index.scss';

.container {
    place-self: center center;

    display: grid;
    grid-template-rows: min-content min-content 1fr;

    width: 95%;
    max-height: 95%;
    margin: 1rem 0;

    border: 2px solid $palettePurple2;
    border-radius: 4px;

    overflow: hidden;

    & .header {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 2fr;
        place-items: center;

        padding: 0.5rem;

        background: $palettePurple2;

        color: $paletteWhite;

        & .gameLogo {
            width: 60%;
        }

        & .name {
            font-size: 1.25rem;
        }

        & .part {
            & span {
                color: $palettePurple5;
            }
        }
    }

    & .titles {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 2fr;
        place-items: center;

        padding: 0.5rem 0;

        border-bottom: 1px solid $palettePurple3;
    }

    & .data {
        display: grid;
        grid-auto-rows: calc(25% - 0.5rem);
        gap: 0.5rem;

        overflow: scroll;

        & .dataRow {
            display: grid;
            grid-template-columns: 1fr 3fr 2fr 2fr;
            place-items: center;

            color: $paletteWhite;

            border-bottom: 1px solid $palettePurple2;

            &:hover {
                border-bottom: 1px solid $palettePurple3;
            }

            & .user {
                display: grid;
                grid-auto-flow: column;
                place-items: center;
                gap: 1rem;

                & img {
                    width: 2rem;
                    border-radius: 100%;
                }
            }

            & .username {
                place-self: center start;
            }
        }
    }
}
