@import 'src/theme/scss/index.scss';

.container {
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
    place-items: center start;

    height: 4rem;

    border: 1px solid transparent;
    border-radius: 4px;
    background: linear-gradient(90deg, $palettePurple1 0%, $palettePurple2 50%);

    &:hover {
        border: 1px solid $palettePurple3;
    }

    &.upcoming {
        cursor: default;

        filter: grayscale(1);
        grid-template-columns: 1fr 5fr 2fr 2fr 2fr;

        background: linear-gradient(90deg, #00000000 0%, #00000049 50%);

        &:hover {
            border: 1px solid transparent;
        }
    }

    &.header {
        cursor: default;
        place-items: end start;

        padding: 0 0.5rem;
        height: auto;

        background: none;

        &:hover {
            border: 1px solid transparent;
        }
    }

    & .gameLogo {
        place-self: center;

        height: 3rem;
    }

    & .name {
        display: grid;
        place-content: center start;

        height: 100%;
        width: 100%;
        padding-left: 1rem;

        font-size: 1.25rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & .points,
    .participants,
    .timeToStart {
        place-self: center;
    }

    & .headerPoints,
    .headerParticipants,
    .headerTimeToStart {
        place-self: end center;
    }

    & .headerName {
        padding-left: 1rem;
    }

    & .headerGame {
        place-self: end center;
    }

    & .apply {
        cursor: pointer;
        place-self: center;

        padding: 0.5rem 1rem;

        background: $paletteBlue1;
        border: 1px solid transparent;
        border-radius: 4px;

        color: $paletteWhite;

        transition: background 0.3s;

        &:hover {
            background: transparent;
            border: 1px solid $paletteYellow2;
            color: $paletteYellow2;
        }
    }
}
