@import 'src/theme/scss/index.scss';

.container {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;

    padding: 1rem;

    overflow: scroll;

    & .LastMatchBox {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    & .timeSpent,
    .points,
    .tournaments,
    .soloAndParty {
        cursor: pointer;

        width: 100%;
        height: 100%;

        border: 1px solid transparent;
        border-radius: 4px;

        background: $palettePurple2;

        &:hover {
            border: 1px solid $palettePurple5;
        }

        &.active {
            border: 1px solid $palettePurple5;
        }
    }

    & .timeSpent {
        display: grid;
        place-items: center;
    }

    & .points {
        grid-column: 1;

        display: grid;
        place-items: center;
    }

    & .tournaments {
        grid-column: 1 / 3;

        display: grid;
        place-items: center;
    }

    & .soloAndParty {
        grid-column: 1 / 3;

        display: grid;
        place-items: center;
    }
}
