@import 'src/theme/scss/index.scss';

.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 400px auto;

    width: 100vw;

    & .left {
        display: grid;
        grid-template-rows: auto auto 300px;
        gap: 0.5rem;

        & #adDiv {
            background: url('../../theme/assets/svg/ad-placeholder.svg');
        }
    }

    & .right {
        border-left: 1px solid $palettePurple6;
    }
}
