@import 'src/theme/scss/index.scss';

.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 400px 1fr;

    width: 100vw;

    & .left {
        display: grid;
        grid-template-rows: min-content 1fr 300px;
        gap: 0.5rem;

        height: calc(100vh - 25px);

        & #adDiv {
            background: url('../../theme/assets/svg/ad-placeholder.svg');
        }
    }

    & .right {
        height: calc(100vh - 25px);

        border-left: 1px solid $palettePurple6;
    }
}
