@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url('../assets/fonts/SourceSansPro-RegularItalic.ttf');
}
