@font-face {
    font-family: 'SF Pro Display';
    src: url('/theme/assets/fonts/SourceSansPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url('/theme/assets/fonts/SourceSansPro-RegularItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/theme/assets/fonts/Roboto-Black.ttf') format('ttf');
}
