////////////////////////////////////////
// MEDIA QUERY MANAGER
////////////////////////////////////////

@mixin media($breakpoint) {
    @if $breakpoint == xxxs {
        @media only screen and (min-width: 360px) {
            @content;
        }
    }

    @if $breakpoint == xxs {
        @media only screen and (min-width: 410px) {
            @content;
        }
    }

    @if $breakpoint == xs {
        @media only screen and (min-width: 600px) {
            @content;
        }
    }

    @if $breakpoint == sm {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint == md {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint == lg {
        @media only screen and (min-width: 1264px) {
            @content;
        }
    }

    @if $breakpoint == xl {
        @media only screen and (min-width: 1800px) {
            @content;
        }
    }
}
