//* Color Palette

$paletteWhite: #ffffff;

$palettePurple1: #10053f;
$palettePurple2: #1e1154;
$palettePurple3: #695ca0;
$palettePurple4: #770ffe;
$palettePurple5: #9d92c9;
$palettePurple6: #33295f;

$paletteBlue1: #179bdb;
$paletteBlue2: #126e9a;

$paletteYellow1: #fead0f;
$paletteYellow2: #be910a;

$paletteBronze1: #bb8141;

$paletteWarningYellow: #dbbc51;
$paletteErrorRed: darkred;
