@import 'resources.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    user-select: none;

    transition: all 0.5s;
}

a {
    text-decoration: none;
}

body {
    color: $palettePurple5;
    max-width: 900px;
    max-height: 700px;
    background: $palettePurple1;
    font-family: 'SF Pro Display', sans-serif;
    overflow: scroll;

    padding-top: 25px;

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background: $paletteBlue1;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

//  /* notifications */
//  .toast-container {
//      z-index: 100;
//  }
//  .toast-progress-line {
//      background: $lightGrey;
//      height: 1px;
//  }

//  .toast-error {
//      background: $paletteErrorRed;

//      & .error-body {
//          display: flex;
//          align-items: center;
//          color: white;
//          &::before {
//              content: url('../theme/assets/icons/error.svg');
//              margin-right: 1rem;
//              filter: invert(1);
//          }
//      }
//  }

//  .toast-success {
//      background: $secondaryGreen;

//      & .success-body {
//          display: flex;
//          align-items: center;
//          color: white;
//          &::before {
//              content: url('../theme/assets/icons/success.svg');
//              margin-right: 1rem;
//              filter: invert(1);
//          }
//      }
//  }

//  .toast-bonus {
//      background: #000;
//      border: 1px solid $secondaryGreen;

//      & .bonus-body {
//          display: flex;
//          align-items: center;
//          color: white;
//          &::before {
//              content: url('../theme/assets/icons/warn.svg');
//              margin-right: 1rem;
//              filter: invert(1);
//          }
//      }
//  }

//  .toast-info {
//      background: #000;
//      border: 1px solid $secondaryGreen;

//      & .info-body {
//          display: flex;
//          align-items: center;
//          color: white;
//          &::before {
//              content: url('../theme/assets/icons/info.svg');
//              margin-right: 1rem;
//              filter: invert(1);
//          }
//      }
//  }
