//* Color Palette

$paletteWhite: #ffffff;

$paletteGrey1: #1c1c1c;
$paletteGrey2: #292929;
$paletteGrey3: #a4a4a4;
$paletteGrey4: #1a1a1a;

$paletteGreen1: #3b8c41;
$paletteGreen2: #49ae51;

$paletteWarningYellow: #dbbc51;
$paletteErrorRed: darkred;
